# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.env
.venv/
env/
venv/
ENV/

# Streamlit
.streamlit/secrets.toml

# Local test scripts
test_api.py

# Jupyter Notebook
.ipynb_checkpoints
